.info {
    color: var(--white-color2);
}

.info__name {
    font-size: 32px;
    font-weight: 700;
}

.info__item {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 1rem;
}

.info__item i {
    font-size: 21px;
    margin-right: 12px;
    color: #F3EA28;
}

.info__item img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.info__decr-lable {
    font-size: 28px;
    font-weight: 700;
}

.info__decr-inf {
    font-size: 16px;
}

.info__decr-text {
    font-size: 16px;
    letter-spacing: 1.1;
}

