//- Trang chủ
extends ../../layouts/default.pug
include ../../mixins/alert.pug


block main 
    +alert-error(3000)
    +alert-success(3000)

    .body
        #banner.container.px-lg-5
            .slide-show
                .list-images
                    .item-image
                        img(src="/client/images/result_banner8.jpg", alt="")
                    .item-image
                        img(src="/client/images/result_banner4.jpg", alt="")
                    .item-image
                        img(src="/client/images/banner2.webp", alt="")
                .btnBanner
                    .btn-left.btnB
                        i.fa-solid.fa-chevron-left
                    .btn-right.btnB
                        i.fa-solid.fa-chevron-right
                .index-images
                    .index-item.index-item-0.active
                    .index-item.index-item-1
                    .index-item.index-item-2

            
