extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-error(5000)
    +alert-success(5000)

    div.recover
        div.cover.container
            div.recover__ctn
                div.recover__title Đổi mật khẩu
                form(
                    action=`/user/password/reset`
                    method="POST"
                )
                    div.recover__input
                        input(type="password", placeholder="Mật khẩu mới", name="password", required)
                    div.recover__input
                        input(type="password", placeholder="Xác nhận mật khẩu mới", name="confirmPassword", required)
                    div(class="form-group recover__button my-5")
                        button(
                            type="submit"
                        ) ĐỔI MẬT KHẨU