.sider
    .inner-menu 
        ul 
            li.nav-link(class=currentPage === 'dashboard' ? 'active' : '')
                i.fa-solid.fa-circle-user 
                a(href=`${prefixAdmin}/dashboard`) Tổng quan
            li.nav-link(class=currentPage === 'movies' ? 'active' : '') 
                i.fa-solid.fa-film
                a(href=`${prefixAdmin}/movies`) Danh sách phim
            